.photo-list-container {
    width: 60%;
    max-height: 70%;
    padding: 15px;

}

.photo-list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: '0px 0px 40px';
}

.thumbnail-photo {
    max-width: 25%;
    height: auto;
}