.photo-list-container {
  width: 75%;
  height: 70%;
  padding: 15px 15px 15px 30px;
  overflow-y: scroll;
}

.photo-list-row {
  display: flex;
  flex-direction: row;
  margin: "0px 0px 40px";
}

.thumbnail-photo {
  box-sizing: border-box;
  max-width: 90%;
  max-height: calc(75vh * 0.9);
  padding: 50px;
  transition: transform 0.2s;
  object-fit: cover;
}

.thumbnail-photo:hover {
  transform: scale(1.05);
}
