.page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-photo {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    /*
    max-height: 55vh;
    max-width: 80vw;
    */
}