body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;

  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  font-family: "Lato", serif;
}

.main-text {
  font-size: 1.35em;
  color: #313113;
  font-weight: 300;
  letter-spacing: 2px;
}

.photo-modal-backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(119, 119, 119, 0.75);
  backdrop-filter: blur(4px);
}

.photo-modal-backdrop > p {
  background-color: white;
  padding: 25px 10px;
  width: 80%;
  font-size: 0.875rem;
}

.photo-modal-backdrop > img {
  max-width: 90%;
  max-height: 75%;
}
