body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;

  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-family: 'Lato', serif;
}

.main-text {
  font-size: 1.35em;
  color: #313113;
  font-weight: 300;
  letter-spacing: 2px;
}